In [2]:
import pandas as pd

In [31]:
customer_df_csv = pd.read_csv('customers_df.csv', index_col=False)

In [32]:
customer_df_csv

0          46909180
1          42560427
2          43789873
3          22037526
4          34220092
             ...
5197900    53094867
5197901    53095028
5197902    53095202
5197903    53095674
5197904    53095976
Name: customer_id, Length: 5197905, dtype: int64

In [33]:
customers_df = customer_df_csv.drop(columns=['Unnamed: 0'])

In [34]:
customers_df

         customer_id  customer_count
0           46909180               6
1           42560427               7
2           43789873               3
3           22037526               2
4           34220092               2
...              ...             ...
5197900     53094867               8
5197901     53095028               2
5197902     53095202               1
5197903     53095674               1
5197904     53095976               2

[5197905 rows x 2 columns]